<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <style>
      body {
        background-image: url("https://wallpapersmug.com/download/3840x2400/3e0156/bitcoin-digital-art-abstract.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        margin: 0; /* Remove default margin */
        padding: 0; /* Remove default padding */
      }
      h1
      {
        color: gold;
        font-size: 50px; /* Set the font size of h1 to 36 pixels */
        text-align: center;
        text-shadow: 0 0 20px rgb(250, 234, 145);
      }
      h2
      {
        color: gold;
        padding-left: 20px;
        padding-top: 10px;
      }
      .buttons {
        padding-left: 20px;
        padding-top: 10px;
      }
    </style>
            <title>{% block title %}Home{% endblock %}</title>
    </head>
    <body>
     
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">
                <img src="https://github.com/amitCohen2/CryptoBot-Investment/blob/main/static/images/CryptoBot_Investment-navbar.png?raw=true"
                     alt="CryptoBot Logo" height="30">
            </a>

          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbar"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-nav">
                {% if user.is_authenticated %}
                    <a class="nav-item nav-link" id="home" href="/">Home</a>
                    <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
                {% else %}
                    <a class="nav-item nav-link" id="login" href="/login">Login</a>
                    <a class="nav-item nav-link" id="signUp" href="/sign-up">Sign Up</a>
                {% endif %}
                <a class="nav-item nav-link" id="arbitrage" href="/arbitrage-input">Arbitrage</a>
                <a class="nav-item nav-link" id="reddit" href="/reddit" >Reddit</a>
                <a class="nav-item nav-link" id="machine-learning" href="/machine-learning">Machine Learning</a>
            </div>
          </div>
        </nav>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            {% if category == 'error' %}
                <div class="alert alert-danger alter-dismissable fade show" role="alert">
                    {{ message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% else %}
                <div class="alert alert-success alter-dismissable fade show" role="alert">
                    {{ message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
            {% endfor %}
        {% endif %}
        {% endwith %}

        <div id="js-preloader" class="js-preloader loaded">
            <div class="preloader-inner">
              <span class="dot"></span>
              <div class="dots">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
        <br>
        <div class="parent">
            <div class="info">

            </div>
            <div class="div2"> </div>
        </div>
        <h1>Welcome to CryptoBot-Investment</h1>
        <h2>
            CryptoBot-Investment is an integrated platform for investors,<br>
            combining three key components:<br>
            1. Arbitrage algorithm for Cryptocurrencies.<br>
            2. NLP-based Reddit sentiment analysis for buy/sell/hold recommendations in Cryptocurrencies.<br>
            3. Stock price prediction by machine learning algorithm.
        </h2>
        <div class="buttons">
            <a href="/arbitrage-input" class="btn btn-primary">Arbitrage</a>
            <a href="/reddit" class="btn btn-warning">Reddit</a>
            <a href="/machine-learning" class="btn btn-success">Machine Learning</a>
        </div>
        <div class="container">{% block content %} {% endblock %}</div>
        <script
          src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous"
        ></script>

        <script
          src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"
        ></script>
        <script
          src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"
        ></script>
        <script
            type="text/javascript"
            src="{{ url_for('static', filename='index.js') }}"
        ></script>
    </body>
</html>